<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revision timetable for {{ date }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "/static/main.css">
</head>
<body>
    <h2 class="subject">You need to revise</h2>
    <h1 class="subject">{{ subject }}</h1>
    <h2 class="subject">today.</h2>
</body>
</html>